.bill {
 box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.64);
 width: 500px;
 margin-left: 1rem;
 margin-bottom: 2rem;
}

img {
 max-width: 100%;
}

/* Let's make sure all tables have defaults */
table td {
 vertical-align: top;
}

.body-wrap {
 background-color: #e1e1f1;
 width: 100%;
}

.container {
 display: block !important;
 width: 100% !important;
 margin: 0 auto !important;
 /* makes it centered */
 clear: both !important;
}

.content {
 max-width: 600px;
 margin: 0 auto;
 display: block;
 padding: 20px;
}

.main {
 background: #fff;
 border: 1px solid #e9e9e9;
 border-radius: 3px;
}

.content-wrap {
 padding: 20px;
}

.content-block {
 padding: 0 0 20px;
}

.header {
 width: 100%;
 margin-bottom: 20px;
}

.footer {
 width: 100%;
 clear: both;
 color: #999;
 padding: 20px;
}
.footer a {
 color: #999;
}
.footer p,
.footer a,
.footer unsubscribe,
.footer td {
 font-size: 12px;
}

h1,
h2,
h3 {
 font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
 color: #000;
 margin: 2rem 0 0;
 line-height: 1.2;
 font-weight: 400;
}

h1 {
 font-size: 32px;
 font-weight: 500;
}

h2 {
 font-size: 24px;
}

h3 {
 font-size: 18px;
}

h4 {
 font-size: 14px;
 font-weight: 600;
}

p,
ul,
ol {
 margin-bottom: 10px;
 font-weight: normal;
}
p li,
ul li,
ol li {
 margin-left: 5px;
 list-style-position: inside;
}

a {
 color: #1ab394;
 text-decoration: underline;
}

.btn-primary {
 text-decoration: none;
 color: #fff;
 background-color: #1ab394;
 border: solid #1ab394;
 border-width: 5px 10px;
 line-height: 2;
 font-weight: bold;
 text-align: center;
 cursor: pointer;
 display: inline-block;
 border-radius: 5px;
 text-transform: capitalize;
}

.last {
 margin-bottom: 0;
}

.first {
 margin-top: 0;
}

.aligncenter {
 text-align: center;
}

.alignright {
 text-align: right;
}

.alignleft {
 text-align: left;
}

.clear {
 clear: both;
}

.alert {
 font-size: 16px;
 color: #fff;
 font-weight: 500;
 padding: 20px;
 text-align: center;
 border-radius: 3px 3px 0 0;
}
.alert a {
 color: #fff;
 text-decoration: none;
 font-weight: 500;
 font-size: 16px;
}
.alert.alert-warning {
 background: #f8ac59;
}
.alert.alert-bad {
 background: #ed5565;
}
.alert.alert-good {
 background: #1ab394;
}

.invoice {
 margin: 2rem auto;
 text-align: left;
 width: 80%;
}
.invoice td {
 padding: 5px 0;
}
.invoice .invoice-items {
 width: 100%;
}
.invoice .invoice-items td {
 border-top: #eee 1px solid;
}
.invoice .invoice-items .total td {
 border-top: 2px solid #333;
 border-bottom: 2px solid #333;
 font-weight: 700;
}
